<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kana Mailer - V1</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>

  <div #sectionHome class="container-fluid">
    <!-- <section class="col-md-12"> -->
      <app-menu></app-menu>
    <!-- </section> -->

    <section class="col-md-12">
      <header>
        <h1>Kana Mailer</h1>
        <small>The Kanamobi Mailer - Powered by Backend Team :D</small>
      </header>  
    </section>  

    <article>
      <h3>Testing</h3>
    </article>

    <user-list></user-list>

  </div>

  </html>