$grid-spacing:1.6%;
$columns: 12;

@function scw($m, $column, $columns) {
  @return (100 - ($m * ($column - 1))) / $columns;
}

@function cw($scw, $m, $cs) {
  @return ($scw * $cs) + ($m * ($cs – 1));
}

.row{
  &:before, &:after{
    content: " ";
    display: table;
  }
  &:after{ clear: both; }
  & + & {
    margin-top:$grid-spacing;
  }
}

.column {
  position: relative;
  float: left;
}

.column + .column {
  margin-left: 1.6%;
}

[class^="column-"] {
  float:left;
  margin-right:$grid-spacing;
  -webkit-box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  box-sizing:border-box;
  &:last-child {
    margin-right:0%;
  }
}
// $columns
// .column-1   { width: scw(1.6%, 1, $columns); }
// .column-2   { width: scw(1.6%, 6, $columns); }
// .column-3   { width: scw(1.6%, 4, $columns); }
// .column-4   { width: scw(1.6%, 3, $columns); }
// .column-5   { width: scw(1.6%, 2.4, $columns); }
// .column-6   { width: scw(1.6%, 2, $columns); }
// .column-7   { width: scw(1.6%, 1.7, $columns); }
// .column-8   { width: scw(1.6%, 1.5, $columns); }
// .column-9   { width: scw(1.6%, 1.2, $columns); }
// .column-10  { width: scw(1.6%, 1.2, $columns); }
// .column-11  { width: scw(1.6%, 1.0, $columns); }
// .column-12  { width:100%; }

.column-1   { width:(100% / 12) - ($grid-spacing * 11 / 12); }
.column-2   { width:(100% / 6) - ($grid-spacing * 10 / 12); }
.column-3   { width:(100% / 4) - ($grid-spacing * 9 / 12); }
.column-4   { width:(100% / 3) - ($grid-spacing * 8 / 12); }
.column-5   { width:(100% / 2.4) - ($grid-spacing * 7 / 12); }
.column-6   { width:(100% / 2) - ($grid-spacing * 6 / 12); }
.column-7   { width:(100% / 1.714285714285714) - ($grid-spacing * 5 / 12); }
.column-8   { width:(100% / 1.5) - ($grid-spacing * 4 / 12); }
.column-9   { width:(100% / 1.333333333333333) - ($grid-spacing * 3 / 12); }
.column-10  { width:(100% / 1.2) - ($grid-spacing * 2 / 12); }
.column-11  { width:(100% / 1.090909090909091) - ($grid-spacing * 1 / 12); }
.column-12  { width:100%; }
